@model MiTiendaLeguizamon.Models.Seccion

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Detalles de la Seccion</h2>
            </div>
        </div>

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

            </dl>
        </div>
        
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>@Html.ActionLink("Volver al Listado", "Index", "Secciones", null)</h2>
            </div>
        </div>

    </div>
</div>